
[build]
  command = "sed -i \"s|DEPLOY_URL|${CONTEXT}|g\" netlify.toml && npm run build"
  publish = ".next"
  functions = "functions"

[build.environment]
  GLOBAL_ALL_ENVS = "true"

# Production context:
# All deploys from the main repository branch
# will inherit these settings.
[context.production]
  [context.production.environment]
    NEXT_PUBLIC_CONTEXT = "production"
    NEXT_PUBLIC_ACCESS_TOKEN = "not so secret for prod"
    MY_URL = "DEPLOY_URL"
  # Deploys from main branch run this plugin in the build.
  # Plugins context requires double brackets.


[context.deploy-preview]
  command = "npm run build"

[context.deploy-preview.environment]
  LAMBDA_URL = "THS IS LAMBDA URL"
  MY_URL = "DEPLOY_URL"