
[build]
command = "node context.js && npm run build"
publish = ".next"
functions = "functions"

# Production context:
# All deploys from the main repository branch
# will inherit these settings.
[context.production]
  [context.production.environment]
    NEXT_PUBLIC_CONTEXT = "production"
    NEXT_PUBLIC_ACCESS_TOKEN = "not so secret for prod"
    FROM_PRODUCTION = "true"
  # Deploys from main branch run this plugin in the build.
  # Plugins context requires double brackets.


[context.deploy-preview]
  command = "npm run build"

[context.deploy-preview.environment]
  LAMBDA_URL = "THS IS LAMBDA URL"
  NEXT_PUBLIC_ACCESS_TOKEN = "not so secret next public"
  NEXT_PUBLIC_SELF_URL = "SELF_URL_PLACEHOLDER"
  NEXT_PUBLIC_CONTEXT = "deploy-preview"